@media screen and (min-width:768px) and (max-width:1024px){
    .component-2{
        width: 100%;
        background-image: url('../images/component-2/bg-1.jpg');
        background-size: cover;
        padding-top: 116px;
        padding-bottom: 187px;
        display: flex;
        justify-content: space-around;
            .left-arrow, .right-arrow{
                display: none;
            }
            .text-2{
                color:$color-2;
                h2{
                    font-family: $font-raleway;
                    font-weight: 200;
                    font-size: 58.81px;
                    line-height: 40px;
                    padding-left: 19.4%;
                }
                h1{
                    font-family: $font-montserrat;
                    font-weight: 700;
                    font-size: 71.77px;
                    line-height: 8px;
                    letter-spacing: -2.6px;
                    padding-left: 10.4%;
                }
                p{
                    font-family: $font-raleway;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 16px;
                    letter-spacing: -0.55px;
                    word-spacing: 0.15px;
                    padding-bottom: 23px;
                }

            }
            .read-more-2{
                box-sizing: border-box;
                margin: auto;
                padding-top: 8px;
                padding-bottom: 11px;
                padding-right: 5px;
                width: 19.8%;
                text-align: center;
                font-family: $font-raleway;
                font-weight: 600;
                font-size: 13px;
                background-color: $color-5;
                border: 1px solid $color-2;
                outline:3px solid  $color-5;
                color: $color-2;  
            }
        
    }
    
}
