@media screen and (min-width:768px) and (max-width:1024px){
    .component-1{
        width: 100%;
        padding-top: 28px;
        padding-bottom: 30px;
        background-color: $color-1;
        color: $color-2;
            .container-1{
                font-family: $font-sans;
                font-weight: 400;
                font-size: 14px;
                height: inherit;
                padding-left: 3.2%;
                padding-right: 3.2%;
                display: flex;
                justify-content: space-between;
                    .logo span{
                        font-size:36px;
                        font-family: $font-raleway;
                        font-weight: 300;
                    }
                .menu-bar{
                    padding-top: 7px;
                }
                    .start-menu{
                        display: none;
                            
                    }
            }
    
    }
    
}
