$color-1 : #000000; /* component 1 background color*/
$color-2: #FFFFFF; /* component 1 text color */
$color-3: #3AB6B2; /* side menu color for tablet and mobile version*/
$color-4:#292929; /* component 2 background color*/
$color-5:#3AB6B2; /*read more button component 2*/
$color-6:#6A6A6A; /* paragraph color in component 3 */
$color-7:#3B3B3B; /* icon background color in component 3 */
$color-8:#E6E6E6; /* hr color in component 3*/